@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* ------------ Variables ---------- */
:root {
  /* -- text colors -- */
  --text-gray: #808291;
  --text-white: #ffffff;
  --text-light: #f6f6f6;
  --text-dark: #1a3260;
  --text-dark2: #1a3760d4;
  --text-red: #ff4d6d;
  --box-shadow: 0px 0px 50px 0px rgb(0 0 0/ 10%);
  --bg-blue: rgb(249, 243, 255);
  --bg-red: rgb(254, 247, 252);
  --bg-yellow: rgb(255, 255, 246);
  --bg-purple: rgb(246, 255, 255);

  /* -- font families --*/
  --font-poppins: "Poppins", "sans-serif";

  /* -- gradients -- */
  --bg-gradient: linear-gradient(to right, #ff512f, #dd2476);
  --bg-gradient-indigo: linear-gradient(to right, #8e2de2, #4a00e0);
  --bg-gradient-peach: linear-gradient(to right, #fff7f3, #fff7f3);
  --bg-gradient-blue: linear-gradient(to right, #594790, #05386e);
  --bg-gradient-red: linear-gradient(to right, #ff2233, #ee1111);

  /* -- images -- */
  --bg-cover: url("./assets/bgimg1.png");
  --bg-image1: url("./assets/img1.png");
  --bg-image2: url("./assets/img2.png");
  --bg-image3: url("./assets/img3.png");
}
/* ------------ /Variables ---------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ------------ Global Classes ---------- */

.text-dark {
  color: var(--text-dark);
}

.text-light {
  color: var(--text-light);
}

.text-white {
  color: var(--text-white);
}

.text-gray {
  color: var(--text-gray);
}

.text-red {
  color: var(--text-red);
}

.bg-gradient {
  background: var(--bg-gradient);
}

.bg-gradient-indigo {
  background: var(--bg-gradient-indigo);
}

.bg-gradient-peach {
  background: var(--bg-gradient-peach);
}

.bg-gradient-red {
  background: var(--bg-gradient-red);
}

.bg-gradient-blue {
  background: var(--bg-gradient-blue);
}

.bg-red {
  background: var(--bg-red);
}

.bg-blue {
  background: var(--bg-blue);
}

.bg-yellow {
  background: var(--bg-yellow);
}

.bg-purple {
  background: var(--bg-purple);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: 1em;
  line-height: 1.5em;
}

.text-md {
  font-size: 1.5em;
  /* line-height: 1.5em; */
}

.text-lg {
  font-size: 2em;
  line-height: 3rem;
}

.text-xl {
  font-size: 3em;
}

.text-xxl {
  font-size: 5em;
  /* line-height: 1.5em; */
}

.font-bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: col;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-grow {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.container {
  width: 100%;
}

.container-fluid {
  width: 98%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-10 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5reml;
}

.px-10 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.link {
  color: var(--text-dark2);
  font-weight: bold;
}

.link:hover {
  color: var(--text-red);
}

.btn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-primary {
  padding: 0.8rem 2rem;
  border-radius: 50px;
  font-family: var(--font-poppins);
  font-weight: bold;
}

.btn-primary:hover {
  background-color: var(--bg-gradient-indigo);
}

.bg-cover {
  background: var(--bg-cover);
  object-fit: fill;
}

.d-inline {
  display: inline-block;
}

.d-block {
  display: block;
}

.grid {
  display: grid;
}

.cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

/* ------------ /Global Classes ---------- */

/* ------------ Media Queries ---------- */

/* For SM devices */
@media (min-width: 640px) {
  .sm-text-xl {
    font-size: 3em !important;
  }

  .md-text-left {
    text-align: left;
  }
}

/* For MD devices */
@media (min-width: 768px) {
  .md-text-left {
    text-align: left;
  }

  .md-mx-initial {
    margin: initial;
  }
}

/* For LG devices */
@media (min-width: 1024px) {
  #nav .toggle-btn > button {
    display: none;
  }

  #nav {
    flex-direction: row !important;
    align-items: center;
  }

  .collapse {
    max-height: initial !important;
  }

  .collapse ul {
    flex-direction: row !important;
    align-items: center;
    gap: 60px;
  }

  .active {
    max-height: 100%;
  }

  .lg-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 80%;
  }

  .lg-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 80%;
  }
}

/* For XL devices */
@media (min-width: 1280px) {
  #nav {
    /* color: wheat !important; */
    background: transparent !important;
  }

  #nav .flex-initial ul button {
    display: inline-block !important;
  }
}

/* ------------ /Media Queries ---------- */

/* ------------ Navigation Style ---------- */

#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1.5rem;
  background: var(--text-light);
  flex-direction: column;
}

#nav .collapse {
  max-height: 0px;
  overflow-y: hidden;
  transition: all 0.5s ease-in;
}

#nav .collapse ul {
  flex-direction: column;
  text-align: center;
  padding: 0 3rem;
}

#nav collapse ul > li {
  padding: 0 1.5rem;
  line-height: 3rem;
  font-size: 1.1em;
}

#nav .toggle-btn {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color: var(--text-dark2);
}

#nav .flex-initial ul button {
  display: none;
}

.active {
  max-height: 50vh !important;
}
/* ------------ /Navigation Style ---------- */

/* ------------ Banner Area Style ---------- */

#site-main .banner-area {
  width: 100%;
  position: relative;
  background: var(--bg-cover) no-repeat;
  background-position-x: right;
  z-index: -99;
}

#site-main .banner-area .banner-title {
  height: 95vh;
  padding-top: 16rem;
  padding-left: 10rem;
}

/* ------------ /Banner Area Style ---------- */

/* ------------ Agency Area Style ---------- */

#site-main .agency-area {
  padding: 5rem 0;
}
/* ------------ /Agency Area Style ---------- */

/* ------------ Digital Life Area Style ---------- */

#site-main .digital-life-area > .grid {
  column-gap: 10em;
}

#site-main .digital-life-area .grid-images {
  display: grid;
  grid-template-columns: repeat(16, minmax(10px, 1fr));
  grid-template-rows: repeat(8, minmax(100px, 1fr));
}

#site-main .digital-life-area .grid-images .item-one {
  background: var(--text-gray);
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 5;
  background: var(--bg-image1) no-repeat;
  background-size: cover;
  border-radius: 8px;
  filter: blur(0.8px);
}

#site-main .digital-life-area .grid-images .item-two {
  background: var(--text-gray);
  grid-column-start: 9;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 4;
  background: var(--bg-image2) no-repeat;
  background-size: cover;
  border-radius: 8px;
  filter: blur(0.8px);
}

#site-main .digital-life-area .grid-images .item-three {
  background: var(--text-gray);
  grid-column-start: 6;
  grid-column-end: 15;
  grid-row-start: 3;
  grid-row-end: 8;
  background: var(--bg-image3) no-repeat;
  background-size: cover;
  border-radius: 8px;
  filter: blur(0px);
  /* z-index: -99; */
}

/* ------------ /Digital Life Area Style ---------- */

/* ------------ Counting Area Style ---------- */

#site-main .counting-area {
  padding: 7em 0;
}

#site-main .counting-area .grid-one p {
  width: 80%;
}

#site-main .counting-area .count-box {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

#site-main .counting-area .count-box .grid {
  display: inline-grid;
  grid-gap: 2px;
  border-radius: 20px;
  padding: 1em;
  background-color: blanchedalmond;
  /* box-shadow: inset; */
}

#site-main .counting-area .count-box .grid div {
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  text-align: center;
}
/* ------------ /Counting Area Style ---------- */

/* ------------ Card Area Style ---------- */

#site-main .card-area .grid {
  column-gap: 3em;
  row-gap: 2em;
}

#site-main .card-area div {
  border-radius: 10px;
}
/* ------------ /Card Area Style ---------- */

/* ------------ Articles Area Style ---------- */

#site-main .article-area .grid {
  column-gap: 5em;
}

#site-main .article-area .grid article img {
  border-radius: 20px;
}

.articles-container {
  width: 90%;
  margin: 0 auto;
  background-image: radial-gradient(
    circle 400px at 6.8% 8.3%,
    rgba(255, 244, 169, 1) 0%,
    rgba(255, 244, 234, 1) 100.2%
  );
  border-top-left-radius: 100px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 3em;
}
/* ------------ /Articles Area Style ---------- */
